USE [master]
GO
/****** Object:  Database [BarangayEServices]    Script Date: 5/8/2026 12:16:39 PM ******/
CREATE DATABASE [BarangayEServices]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BarangayEServices', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BarangayEServices.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BarangayEServices_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BarangayEServices_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BarangayEServices].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BarangayEServices]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[ServiceType] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[ApplicationData] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AssignedToStaffID] [int] NULL,
	[ProcessingNotes] [nvarchar](max) NULL,
	[ApprovedBy] [int] NULL,
	[ApprovalDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ApplicationStats]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 6. CREATE VIEWS FOR EASIER QUERIES
-- =====================================================

-- View for application statistics
CREATE VIEW [dbo].[vw_ApplicationStats] AS
SELECT 
    COUNT(*) AS TotalApplications,
    SUM(CASE WHEN Status = 'Pending' THEN 1 ELSE 0 END) AS PendingCount,
    SUM(CASE WHEN Status = 'Processing' THEN 1 ELSE 0 END) AS ProcessingCount,
    SUM(CASE WHEN Status = 'Approved' THEN 1 ELSE 0 END) AS ApprovedCount,
    SUM(CASE WHEN Status = 'Rejected' THEN 1 ELSE 0 END) AS RejectedCount
FROM Applications;
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Position] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[TOTPSecret] [nvarchar](100) NULL,
	[Is2FAEnabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StaffApplications]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View for staff with their assigned applications
CREATE VIEW [dbo].[vw_StaffApplications] AS
SELECT 
    s.StaffID,
    s.FirstName + ' ' + s.LastName AS StaffName,
    s.Role,
    COUNT(a.ApplicationID) AS AssignedApplications,
    SUM(CASE WHEN a.Status = 'Pending' THEN 1 ELSE 0 END) AS PendingApplications
FROM Staff s
LEFT JOIN Applications a ON s.StaffID = a.AssignedToStaffID
GROUP BY s.StaffID, s.FirstName, s.LastName, s.Role;
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](100) NOT NULL,
	[TransactionID] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PaymentSummary]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PaymentSummary] AS
        SELECT COUNT(*) AS TotalPayments, SUM(Amount) AS TotalAmount FROM dbo.Payments
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[TOTPSecret] [nvarchar](100) NULL,
	[Is2FAEnabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationRemarks]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationRemarks](
	[RemarkID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[RemarkText] [nvarchar](max) NOT NULL,
	[RemarkType] [nvarchar](50) NULL,
	[IsInternal] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RemarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[AuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[UserType] [nvarchar](50) NULL,
	[Action] [nvarchar](255) NOT NULL,
	[TableName] [nvarchar](128) NULL,
	[RecordID] [int] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[ActionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[budget_allocations]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budget_allocations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](100) NOT NULL,
	[allocated_amount] [decimal](18, 2) NOT NULL,
	[spent_amount] [decimal](18, 2) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BudgetAllocation]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetAllocation](
	[BudgetID] [int] IDENTITY(1,1) NOT NULL,
	[FiscalYear] [int] NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[AllocatedAmount] [decimal](12, 2) NOT NULL,
	[SpentAmount] [decimal](12, 2) NULL,
	[RemainingAmount] [decimal](12, 2) NULL,
	[AllocatedBy] [int] NOT NULL,
	[AllocatedDate] [datetime] NULL,
	[LastUpdated] [datetime] NULL,
	[Notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[BirthDate] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[CivilStatus] [nvarchar](50) NULL,
	[Occupation] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[TOTPSecret] [nvarchar](100) NULL,
	[Is2FAEnabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[RecipientID] [int] NOT NULL,
	[MessageType] [nvarchar](50) NULL,
	[Subject] [nvarchar](255) NULL,
	[MessageBody] [nvarchar](max) NULL,
	[IsRead] [bit] NULL,
	[RelatedApplicationID] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[ReadAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
	[PermissionDescription] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RolePermissionID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
	[PermissionID] [int] NOT NULL,
	[GrantedAt] [datetime] NULL,
	[GrantedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RolePermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 5/8/2026 12:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[SessionToken] [nvarchar](255) NOT NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[LoginTime] [datetime] NOT NULL,
	[LastActivityTime] [datetime] NOT NULL,
	[LogoutTime] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [Username], [Password], [FullName], [Email], [PhoneNumber], [CreatedAt], [UpdatedAt], [IsActive], [TOTPSecret], [Is2FAEnabled]) VALUES (1, N'admin', N'admin123', N'System Administrator', N'admin@barangay.gov.ph', NULL, CAST(N'2026-03-07T11:38:11.420' AS DateTime), CAST(N'2026-03-07T11:38:11.420' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationID], [ClientID], [ServiceType], [Status], [ApplicationData], [CreatedAt], [UpdatedAt], [AssignedToStaffID], [ProcessingNotes], [ApprovedBy], [ApprovalDate]) VALUES (1, 2, N'Barangay ID', N'Approved', N'{"full_name":"test test jr.","birth_date":"2001-01-01","gender":"Male","address":"bahay ko","contact_number":"09123456789","civil_status":"Divorced","occupation":"tambay"}', CAST(N'2026-04-10T22:30:18.837' AS DateTime), CAST(N'2026-04-28T13:50:08.420' AS DateTime), NULL, N'sige na', NULL, NULL)
INSERT [dbo].[Applications] ([ApplicationID], [ClientID], [ServiceType], [Status], [ApplicationData], [CreatedAt], [UpdatedAt], [AssignedToStaffID], [ProcessingNotes], [ApprovedBy], [ApprovalDate]) VALUES (2, 2, N'Barangay ID', N'Pending', N'{"full_name":"test test jr.","birth_date":"2001-01-01","gender":"Male","address":"bahay ko","contact_number":"09123456789","civil_status":"Divorced","occupation":"tambay"}', CAST(N'2026-04-10T22:30:50.940' AS DateTime), CAST(N'2026-04-10T22:30:50.940' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[Applications] ([ApplicationID], [ClientID], [ServiceType], [Status], [ApplicationData], [CreatedAt], [UpdatedAt], [AssignedToStaffID], [ProcessingNotes], [ApprovedBy], [ApprovalDate]) VALUES (3, 2, N'Barangay ID', N'Pending', N'{"full_name":"test test jr.","birth_date":"2001-01-01","gender":"Male","address":"bahay ko","contact_number":"09123456789","civil_status":"Divorced","occupation":"tambay"}', CAST(N'2026-04-10T22:33:18.860' AS DateTime), CAST(N'2026-04-10T22:33:18.860' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[budget_allocations] ON 

INSERT [dbo].[budget_allocations] ([id], [category], [allocated_amount], [spent_amount], [updated_at]) VALUES (1, N'Personnel', CAST(150000.00 AS Decimal(18, 2)), CAST(85000.00 AS Decimal(18, 2)), CAST(N'2026-04-28T10:26:40.340' AS DateTime))
INSERT [dbo].[budget_allocations] ([id], [category], [allocated_amount], [spent_amount], [updated_at]) VALUES (2, N'Supplies', CAST(50000.00 AS Decimal(18, 2)), CAST(12000.00 AS Decimal(18, 2)), CAST(N'2026-04-28T10:26:40.340' AS DateTime))
INSERT [dbo].[budget_allocations] ([id], [category], [allocated_amount], [spent_amount], [updated_at]) VALUES (3, N'Infrastructure', CAST(500000.00 AS Decimal(18, 2)), CAST(250000.00 AS Decimal(18, 2)), CAST(N'2026-04-28T10:26:40.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[budget_allocations] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [Email], [Password], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Address], [BirthDate], [Gender], [CivilStatus], [Occupation], [CreatedAt], [UpdatedAt], [IsActive], [TOTPSecret], [Is2FAEnabled]) VALUES (2, N'test@test.com', N'testtest', N'test', N'test', NULL, N'09991111111', NULL, NULL, NULL, NULL, NULL, CAST(N'2026-03-07T11:47:58.163' AS DateTime), CAST(N'2026-03-07T11:47:58.163' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Clients] ([ClientID], [Email], [Password], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Address], [BirthDate], [Gender], [CivilStatus], [Occupation], [CreatedAt], [UpdatedAt], [IsActive], [TOTPSecret], [Is2FAEnabled]) VALUES (3, N'wak@gmail.com', N'wakintanga', N'Joaquin', N'Pimentel', NULL, N'09292833646', NULL, NULL, NULL, NULL, NULL, CAST(N'2026-03-07T13:12:09.400' AS DateTime), CAST(N'2026-03-07T13:12:09.400' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Clients] ([ClientID], [Email], [Password], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Address], [BirthDate], [Gender], [CivilStatus], [Occupation], [CreatedAt], [UpdatedAt], [IsActive], [TOTPSecret], [Is2FAEnabled]) VALUES (4, N'febrillo17@gmail.com', N'testtest', N'Febrilo', N'Par', N'Faraon', N'09392567566', N'411-A Makati Homes 2, Milkweed St.', CAST(N'2004-02-17' AS Date), N'Male', N'Single', N'', CAST(N'2026-03-07T13:46:42.180' AS DateTime), CAST(N'2026-03-07T13:46:42.180' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageID], [SenderID], [RecipientID], [MessageType], [Subject], [MessageBody], [IsRead], [RelatedApplicationID], [CreatedAt], [ReadAt]) VALUES (1, 2, 1, N'Personal', N'test', N'test', 0, NULL, CAST(N'2026-04-28T20:15:51.463' AS DateTime), NULL)
INSERT [dbo].[Messages] ([MessageID], [SenderID], [RecipientID], [MessageType], [Subject], [MessageBody], [IsRead], [RelatedApplicationID], [CreatedAt], [ReadAt]) VALUES (2, 4, 1, N'Personal', N'hi', N'test', 0, NULL, CAST(N'2026-05-08T03:47:52.373' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [ApplicationID], [ClientID], [Amount], [Method], [TransactionID], [CreatedAt]) VALUES (1, 12, 8, CAST(500.00 AS Decimal(18, 2)), N'GCash', N'MOCK-D2403020', CAST(N'2026-05-08T04:03:53.4041857' AS DateTime2))
INSERT [dbo].[Payments] ([PaymentID], [ApplicationID], [ClientID], [Amount], [Method], [TransactionID], [CreatedAt]) VALUES (2, 10, 8, CAST(500.00 AS Decimal(18, 2)), N'PayMaya', N'MOCK-8684C9A6', CAST(N'2026-05-08T04:09:19.4080491' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [PermissionDescription], [CreatedAt]) VALUES (1, N'view_applications', N'View applications', CAST(N'2026-04-10T22:12:53.300' AS DateTime))
INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [PermissionDescription], [CreatedAt]) VALUES (2, N'approve_applications', N'Approve or reject applications', CAST(N'2026-04-10T22:12:53.300' AS DateTime))
INSERT [dbo].[Permissions] ([PermissionID], [PermissionName], [PermissionDescription], [CreatedAt]) VALUES (3, N'edit_records', N'Edit client and application records', CAST(N'2026-04-10T22:12:53.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermissions] ON 

INSERT [dbo].[RolePermissions] ([RolePermissionID], [Role], [PermissionID], [GrantedAt], [GrantedBy]) VALUES (15, N'Barangay Secretary', 13, CAST(N'2026-04-10T22:12:53.340' AS DateTime), NULL)
INSERT [dbo].[RolePermissions] ([RolePermissionID], [Role], [PermissionID], [GrantedAt], [GrantedBy]) VALUES (16, N'Barangay Secretary', 2, CAST(N'2026-04-10T22:12:53.340' AS DateTime), NULL)
INSERT [dbo].[RolePermissions] ([RolePermissionID], [Role], [PermissionID], [GrantedAt], [GrantedBy]) VALUES (17, N'Barangay Secretary', 3, CAST(N'2026-04-10T22:12:53.340' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RolePermissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffID], [Email], [Password], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Position], [Role], [Department], [CreatedAt], [UpdatedAt], [IsActive], [TOTPSecret], [Is2FAEnabled]) VALUES (1, N'punong@barangay.gov.ph', N'staff123', N'Juan', N'Dela Cruz', NULL, NULL, N'Punong Barangay', N'Punong Barangay', N'Administration', CAST(N'2026-03-07T11:55:30.700' AS DateTime), CAST(N'2026-03-07T11:55:30.700' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Staff] ([StaffID], [Email], [Password], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Position], [Role], [Department], [CreatedAt], [UpdatedAt], [IsActive], [TOTPSecret], [Is2FAEnabled]) VALUES (2, N'secretary@barangay.gov.ph', N'staff123', N'Maria', N'Santos', NULL, NULL, N'Barangay Secretary', N'Barangay Secretary', N'Administration', CAST(N'2026-03-07T11:55:30.700' AS DateTime), CAST(N'2026-03-07T11:55:30.700' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Staff] ([StaffID], [Email], [Password], [FirstName], [LastName], [MiddleName], [PhoneNumber], [Position], [Role], [Department], [CreatedAt], [UpdatedAt], [IsActive], [TOTPSecret], [Is2FAEnabled]) VALUES (3, N'treasurer@barangay.gov.ph', N'staff123', N'Pedro', N'Garcia', NULL, NULL, N'Barangay Treasurer', N'Barangay Treasurer', N'Finance', CAST(N'2026-03-07T11:55:30.700' AS DateTime), CAST(N'2026-03-07T11:55:30.700' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__536C85E4E89E6AB5]    Script Date: 5/8/2026 12:16:40 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Admins_Is2FAEnabled]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_Is2FAEnabled] ON [dbo].[Admins]
(
	[Is2FAEnabled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admins_Username]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_Username] ON [dbo].[Admins]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationRemarks_ApplicationID]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationRemarks_ApplicationID] ON [dbo].[ApplicationRemarks]
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationRemarks_CreatedAt]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationRemarks_CreatedAt] ON [dbo].[ApplicationRemarks]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_AssignedToStaffID]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_AssignedToStaffID] ON [dbo].[Applications]
(
	[AssignedToStaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Applications_ClientID]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ClientID] ON [dbo].[Applications]
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Applications_ServiceType]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_ServiceType] ON [dbo].[Applications]
(
	[ServiceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Applications_Status]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Applications_Status] ON [dbo].[Applications]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_ActionDate]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_ActionDate] ON [dbo].[AuditLog]
(
	[ActionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLog_TableName]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_TableName] ON [dbo].[AuditLog]
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLog_UserID]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLog_UserID] ON [dbo].[AuditLog]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BudgetAllocation_Category]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_BudgetAllocation_Category] ON [dbo].[BudgetAllocation]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BudgetAllocation_FiscalYear]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_BudgetAllocation_FiscalYear] ON [dbo].[BudgetAllocation]
(
	[FiscalYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clients__A9D105341DBF543A]    Script Date: 5/8/2026 12:16:40 PM ******/
ALTER TABLE [dbo].[Clients] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Clients_Email]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Clients_Email] ON [dbo].[Clients]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clients_Is2FAEnabled]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Clients_Is2FAEnabled] ON [dbo].[Clients]
(
	[Is2FAEnabled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_CreatedAt]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_CreatedAt] ON [dbo].[Messages]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_RecipientID]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_RecipientID] ON [dbo].[Messages]
(
	[RecipientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_SenderID]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Messages_SenderID] ON [dbo].[Messages]
(
	[SenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__0FFDA357DFEB0825]    Script Date: 5/8/2026 12:16:40 PM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RolePerm__34EF2E8ECC89E930]    Script Date: 5/8/2026 12:16:40 PM ******/
ALTER TABLE [dbo].[RolePermissions] ADD UNIQUE NONCLUSTERED 
(
	[Role] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RolePermissions_Role]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_RolePermissions_Role] ON [dbo].[RolePermissions]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A9D105342B65E4B3]    Script Date: 5/8/2026 12:16:40 PM ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_Email]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staff_Email] ON [dbo].[Staff]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staff_Is2FAEnabled]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staff_Is2FAEnabled] ON [dbo].[Staff]
(
	[Is2FAEnabled] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_Role]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Staff_Role] ON [dbo].[Staff]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserSess__46BDD124BADACB0B]    Script Date: 5/8/2026 12:16:40 PM ******/
ALTER TABLE [dbo].[UserSessions] ADD UNIQUE NONCLUSTERED 
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserSessions_SessionToken]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_SessionToken] ON [dbo].[UserSessions]
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserSessions_UserID]    Script Date: 5/8/2026 12:16:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserSessions_UserID] ON [dbo].[UserSessions]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((0)) FOR [Is2FAEnabled]
GO
ALTER TABLE [dbo].[ApplicationRemarks] ADD  DEFAULT ((1)) FOR [IsInternal]
GO
ALTER TABLE [dbo].[ApplicationRemarks] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Applications] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[budget_allocations] ADD  DEFAULT ((0.00)) FOR [spent_amount]
GO
ALTER TABLE [dbo].[budget_allocations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[BudgetAllocation] ADD  DEFAULT ((0)) FOR [SpentAmount]
GO
ALTER TABLE [dbo].[BudgetAllocation] ADD  DEFAULT (getdate()) FOR [AllocatedDate]
GO
ALTER TABLE [dbo].[BudgetAllocation] ADD  DEFAULT (getdate()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((0)) FOR [Is2FAEnabled]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT (getdate()) FOR [GrantedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Staff] ADD  DEFAULT ((0)) FOR [Is2FAEnabled]
GO
ALTER TABLE [dbo].[UserSessions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ApplicationRemarks]  WITH CHECK ADD FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationRemarks]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([AssignedToStaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[BudgetAllocation]  WITH CHECK ADD FOREIGN KEY([AllocatedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([RecipientID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([RelatedApplicationID])
REFERENCES [dbo].[Applications] ([ApplicationID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([GrantedBy])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddApplicationRemark]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Add application remark
CREATE PROCEDURE [dbo].[sp_AddApplicationRemark]
    @ApplicationID INT,
    @StaffID INT,
    @RemarkText NVARCHAR(MAX),
    @RemarkType NVARCHAR(50) = 'Note',
    @IsInternal BIT = 1
AS
BEGIN
    INSERT INTO ApplicationRemarks (ApplicationID, StaffID, RemarkText, RemarkType, IsInternal)
    VALUES (@ApplicationID, @StaffID, @RemarkText, @RemarkType, @IsInternal);
    
    SELECT 'Remark added successfully' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignApplicationToStaff]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to assign application to staff
CREATE PROCEDURE [dbo].[sp_AssignApplicationToStaff]
    @ApplicationID INT,
    @StaffID INT
AS
BEGIN
    UPDATE Applications
    SET AssignedToStaffID = @StaffID,
        UpdatedAt = GETDATE()
    WHERE ApplicationID = @ApplicationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckEmailExists]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to check if email exists
CREATE PROCEDURE [dbo].[sp_CheckEmailExists]
    @Email NVARCHAR(255),
    @UserType NVARCHAR(50) -- 'Client' or 'Staff'
AS
BEGIN
    IF @UserType = 'Client'
        SELECT COUNT(*) AS Count FROM Clients WHERE Email = @Email;
    ELSE IF @UserType = 'Staff'
        SELECT COUNT(*) AS Count FROM Staff WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateApplication]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to create application
CREATE PROCEDURE [dbo].[sp_CreateApplication]
    @ClientID INT,
    @ServiceType NVARCHAR(100),
    @ApplicationData NVARCHAR(MAX) = NULL
AS
BEGIN
    BEGIN TRY
        INSERT INTO Applications (ClientID, ServiceType, ApplicationData)
        VALUES (@ClientID, @ServiceType, @ApplicationData);
        
        SELECT 'Success' AS Result, SCOPE_IDENTITY() AS ApplicationID;
    END TRY
    BEGIN CATCH
        SELECT 'Error' AS Result, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateApplicationComplete]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create application with complete data
CREATE PROCEDURE [dbo].[sp_CreateApplicationComplete]
    @ClientID INT,
    @ServiceType NVARCHAR(100),
    @FullName NVARCHAR(200),
    @BirthDate DATE,
    @Gender NVARCHAR(10),
    @Address NVARCHAR(255),
    @ContactNumber NVARCHAR(20),
    @CivilStatus NVARCHAR(50),
    @Purpose NVARCHAR(500) = NULL,
    @AdditionalData NVARCHAR(MAX) = NULL
AS
BEGIN
    BEGIN TRY
        DECLARE @ApplicationData NVARCHAR(MAX);
        
        -- Build JSON data
        SET @ApplicationData = JSON_QUERY(
            (SELECT 
                @FullName AS full_name,
                @BirthDate AS birth_date,
                @Gender AS gender,
                @Address AS address,
                @ContactNumber AS contact_number,
                @CivilStatus AS civil_status,
                @Purpose AS purpose,
                @AdditionalData AS additional_data
            FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
            )
        );
        
        INSERT INTO Applications (ClientID, ServiceType, ApplicationData, Status)
        VALUES (@ClientID, @ServiceType, @ApplicationData, 'Pending');
        
        DECLARE @ApplicationID INT = SCOPE_IDENTITY();
        
        -- Log audit
        EXEC sp_LogAuditEvent 
            @UserID = @ClientID,
            @UserType = 'Client',
            @Action = 'Created Application',
            @TableName = 'Applications',
            @RecordID = @ApplicationID;
        
        SELECT 'Success' AS Result, @ApplicationID AS ApplicationID;
    END TRY
    BEGIN CATCH
        SELECT 'Error' AS Result, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreatePayment]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePayment]
    @ApplicationID INT,
    @ClientID INT,
    @Amount DECIMAL(18,2),
    @Method NVARCHAR(100),
    @TransactionID NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO dbo.Payments (ApplicationID, ClientID, Amount, Method, TransactionID)
    VALUES (@ApplicationID, @ClientID, @Amount, @Method, @TransactionID);

    SELECT SCOPE_IDENTITY() AS PaymentID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllApplications]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get all applications for admin
CREATE PROCEDURE [dbo].[sp_GetAllApplications]
    @Status NVARCHAR(50) = NULL
AS
BEGIN
    SELECT a.ApplicationID, a.ClientID, a.ServiceType, a.Status, 
           c.FirstName + ' ' + c.LastName AS ClientName, c.Email AS ClientEmail,
           a.CreatedAt, a.UpdatedAt, a.AssignedToStaffID,
           ISNULL(s.FirstName + ' ' + s.LastName, 'Unassigned') AS AssignedStaff
    FROM Applications a
    JOIN Clients c ON a.ClientID = c.ClientID
    LEFT JOIN Staff s ON a.AssignedToStaffID = s.StaffID
    WHERE (@Status IS NULL OR a.Status = @Status)
    ORDER BY a.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetApplicationDetails]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get application details
CREATE PROCEDURE [dbo].[sp_GetApplicationDetails]
    @ApplicationID INT
AS
BEGIN
    SELECT ApplicationID, ClientID, ServiceType, Status, ApplicationData, 
           CreatedAt, UpdatedAt, AssignedToStaffID, ProcessingNotes, ApprovedBy, ApprovalDate
    FROM Applications
    WHERE ApplicationID = @ApplicationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetApplicationProcessingStats]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get application processing time statistics
CREATE PROCEDURE [dbo].[sp_GetApplicationProcessingStats]
AS
BEGIN
    SELECT 
        ServiceType,
        COUNT(*) AS TotalApplications,
        AVG(DATEDIFF(DAY, CreatedAt, ISNULL(ApprovalDate, GETDATE()))) AS AverageDaysToComplete,
        MAX(DATEDIFF(DAY, CreatedAt, ISNULL(ApprovalDate, GETDATE()))) AS MaxDaysToComplete,
        MIN(DATEDIFF(DAY, CreatedAt, ISNULL(ApprovalDate, GETDATE()))) AS MinDaysToComplete
    FROM Applications
    WHERE Status = 'Approved'
    GROUP BY ServiceType;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetApplicationRemarks]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get application remarks
CREATE PROCEDURE [dbo].[sp_GetApplicationRemarks]
    @ApplicationID INT,
    @ShowInternalOnly BIT = 0
AS
BEGIN
    SELECT r.RemarkID, r.StaffID, s.FirstName + ' ' + s.LastName AS StaffName,
           r.RemarkText, r.RemarkType, r.IsInternal, r.CreatedAt
    FROM ApplicationRemarks r
    JOIN Staff s ON r.StaffID = s.StaffID
    WHERE r.ApplicationID = @ApplicationID
      AND (@ShowInternalOnly = 0 OR r.IsInternal = 1)
    ORDER BY r.CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBudgetSummary]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get budget summary for fiscal year
CREATE PROCEDURE [dbo].[sp_GetBudgetSummary]
    @FiscalYear INT
AS
BEGIN
    SELECT 
        Category,
        AllocatedAmount,
        SpentAmount,
        (AllocatedAmount - SpentAmount) AS RemainingAmount,
        CAST((SpentAmount * 100.0 / AllocatedAmount) AS DECIMAL(5,2)) AS PercentageSpent
    FROM BudgetAllocation
    WHERE FiscalYear = @FiscalYear
    ORDER BY Category;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientApplications]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get client applications
CREATE PROCEDURE [dbo].[sp_GetClientApplications]
    @ClientID INT
AS
BEGIN
    SELECT ApplicationID, ClientID, ServiceType, Status, CreatedAt, UpdatedAt, ProcessingNotes
    FROM Applications
    WHERE ClientID = @ClientID
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientProfile]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get client profile
CREATE PROCEDURE [dbo].[sp_GetClientProfile]
    @ClientID INT
AS
BEGIN
    SELECT ClientID, Email, FirstName, LastName, MiddleName, PhoneNumber, 
           Address, BirthDate, Gender, CivilStatus, Occupation, CreatedAt, UpdatedAt
    FROM Clients
    WHERE ClientID = @ClientID AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingApplicationsForStaff]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get pending applications for staff
CREATE PROCEDURE [dbo].[sp_GetPendingApplicationsForStaff]
    @StaffID INT
AS
BEGIN
    SELECT a.ApplicationID, a.ClientID, a.ServiceType, a.Status,
           c.FirstName + ' ' + c.LastName AS ClientName, c.Email AS ClientEmail,
           a.CreatedAt, a.ApplicationData
    FROM Applications a
    JOIN Clients c ON a.ClientID = c.ClientID
    WHERE (a.AssignedToStaffID = @StaffID OR a.AssignedToStaffID IS NULL) 
      AND a.Status IN ('Pending', 'Processing')
    ORDER BY a.CreatedAt ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRecentPayments]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRecentPayments]
    @Days INT = 30
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (100) PaymentID, ApplicationID, ClientID, Amount, Method, TransactionID, CreatedAt
    FROM dbo.Payments
    WHERE CreatedAt >= DATEADD(DAY, -@Days, SYSUTCDATETIME())
    ORDER BY CreatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRolePermissions]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 10. NEW STORED PROCEDURES FOR ENHANCEMENTS
-- =====================================================

-- Get all permissions for a role
CREATE PROCEDURE [dbo].[sp_GetRolePermissions]
    @Role NVARCHAR(100)
AS
BEGIN
    SELECT p.PermissionID, p.PermissionName, p.PermissionDescription
    FROM RolePermissions rp
    JOIN Permissions p ON rp.PermissionID = p.PermissionID
    WHERE rp.Role = @Role;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStaffByRole]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get staff by role for assignment
CREATE PROCEDURE [dbo].[sp_GetStaffByRole]
    @Role NVARCHAR(100)
AS
BEGIN
    SELECT StaffID, FirstName, LastName, Email, Position, Role
    FROM Staff
    WHERE Role = @Role AND IsActive = 1
    ORDER BY FirstName, LastName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStaffDashboardStats]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get dashboard statistics for staff
CREATE PROCEDURE [dbo].[sp_GetStaffDashboardStats]
    @StaffID INT
AS
BEGIN
    DECLARE @StaffRole NVARCHAR(100);
    SELECT @StaffRole = Role FROM Staff WHERE StaffID = @StaffID;
    
    SELECT 
        (SELECT COUNT(*) FROM Applications WHERE Status = 'Pending') AS PendingCount,
        (SELECT COUNT(*) FROM Applications WHERE Status = 'Processing') AS ProcessingCount,
        (SELECT COUNT(*) FROM Applications WHERE Status = 'Approved') AS ApprovedCount,
        (SELECT COUNT(*) FROM Staff WHERE IsActive = 1) AS TotalStaff,
        (SELECT COUNT(*) FROM Messages WHERE RecipientID = @StaffID AND IsRead = 0) AS UnreadMessages,
        (SELECT COUNT(*) FROM Transactions WHERE CreatedAt >= DATEADD(MONTH, -1, GETDATE())) AS MonthlyTransactions;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStaffMembers]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to get staff members
CREATE PROCEDURE [dbo].[sp_GetStaffMembers]
    @Role NVARCHAR(100) = NULL
AS
BEGIN
    SELECT StaffID, FirstName, LastName, Email, Position, Role, Department, IsActive, CreatedAt
    FROM Staff
    WHERE (@Role IS NULL OR Role = @Role) AND IsActive = 1
    ORDER BY FirstName, LastName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransactionReportByCategory]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get transaction report by category
CREATE PROCEDURE [dbo].[sp_GetTransactionReportByCategory]
    @FiscalYear INT
AS
BEGIN
    SELECT 
        Category,
        TransactionType,
        COUNT(*) AS TransactionCount,
        SUM(Amount) AS TotalAmount,
        AVG(Amount) AS AverageAmount
    FROM Transactions
    WHERE YEAR(TransactionDate) = @FiscalYear
    GROUP BY Category, TransactionType
    ORDER BY Category, TransactionType;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUnreadMessages]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get unread messages for user
CREATE PROCEDURE [dbo].[sp_GetUnreadMessages]
    @StaffID INT
AS
BEGIN
    SELECT MessageID, SenderID, Subject, MessageBody, CreatedAt, RelatedApplicationID
    FROM Messages
    WHERE RecipientID = @StaffID AND IsRead = 0
    ORDER BY CreatedAt DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_HasPermission]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Check if user has permission
CREATE PROCEDURE [dbo].[sp_HasPermission]
    @StaffID INT,
    @PermissionName NVARCHAR(100)
AS
BEGIN
    SELECT COUNT(*) AS HasPermission
    FROM Staff s
    JOIN RolePermissions rp ON s.Role = rp.Role
    JOIN Permissions p ON rp.PermissionID = p.PermissionID
    WHERE s.StaffID = @StaffID AND p.PermissionName = @PermissionName;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LogAuditEvent]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Record audit log entry
CREATE PROCEDURE [dbo].[sp_LogAuditEvent]
    @UserID INT,
    @UserType NVARCHAR(50),
    @Action NVARCHAR(255),
    @TableName NVARCHAR(128),
    @RecordID INT,
    @OldValues NVARCHAR(MAX) = NULL,
    @NewValues NVARCHAR(MAX) = NULL,
    @IPAddress NVARCHAR(45) = NULL
AS
BEGIN
    INSERT INTO AuditLog (UserID, UserType, Action, TableName, RecordID, OldValues, NewValues, IPAddress)
    VALUES (@UserID, @UserType, @Action, @TableName, @RecordID, @OldValues, @NewValues, @IPAddress);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MarkMessageAsRead]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Mark message as read
CREATE PROCEDURE [dbo].[sp_MarkMessageAsRead]
    @MessageID INT
AS
BEGIN
    UPDATE Messages
    SET IsRead = 1, ReadAt = GETDATE()
    WHERE MessageID = @MessageID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterClient]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to register new client
CREATE PROCEDURE [dbo].[sp_RegisterClient]
    @Email NVARCHAR(255),
    @Password NVARCHAR(255),
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @MiddleName NVARCHAR(100) = NULL,
    @PhoneNumber NVARCHAR(20) = NULL
AS
BEGIN
    BEGIN TRY
        INSERT INTO Clients (Email, Password, FirstName, LastName, MiddleName, PhoneNumber)
        VALUES (@Email, @Password, @FirstName, @LastName, @MiddleName, @PhoneNumber);
        
        SELECT 'Success' AS Result, SCOPE_IDENTITY() AS ClientID;
    END TRY
    BEGIN CATCH
        SELECT 'Error' AS Result, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SendMessage]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Send message
CREATE PROCEDURE [dbo].[sp_SendMessage]
    @SenderID INT,
    @RecipientID INT,
    @Subject NVARCHAR(255),
    @MessageBody NVARCHAR(MAX),
    @MessageType NVARCHAR(50) = 'Personal',
    @RelatedApplicationID INT = NULL
AS
BEGIN
    INSERT INTO Messages (SenderID, RecipientID, MessageType, Subject, MessageBody, RelatedApplicationID)
    VALUES (@SenderID, @RecipientID, @MessageType, @Subject, @MessageBody, @RelatedApplicationID);
    
    SELECT 'Message sent successfully' AS Result;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateApplicationStatus]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to update application status
CREATE PROCEDURE [dbo].[sp_UpdateApplicationStatus]
    @ApplicationID INT,
    @Status NVARCHAR(50),
    @ProcessingNotes NVARCHAR(MAX) = NULL,
    @ApprovedByStaffID INT = NULL
AS
BEGIN
    UPDATE Applications
    SET Status = @Status,
        ProcessingNotes = ISNULL(@ProcessingNotes, ProcessingNotes),
        ApprovedBy = ISNULL(@ApprovedByStaffID, ApprovedBy),
        ApprovalDate = CASE WHEN @Status = 'Approved' THEN GETDATE() ELSE ApprovalDate END,
        UpdatedAt = GETDATE()
    WHERE ApplicationID = @ApplicationID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBudgetSpent]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update budget spent amount
CREATE PROCEDURE [dbo].[sp_UpdateBudgetSpent]
    @BudgetID INT,
    @AmountToAdd DECIMAL(12,2)
AS
BEGIN
    UPDATE BudgetAllocation
    SET SpentAmount = SpentAmount + @AmountToAdd,
        RemainingAmount = AllocatedAmount - (SpentAmount + @AmountToAdd),
        LastUpdated = GETDATE()
    WHERE BudgetID = @BudgetID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClientProfile]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to update client profile
CREATE PROCEDURE [dbo].[sp_UpdateClientProfile]
    @ClientID INT,
    @PhoneNumber NVARCHAR(20) = NULL,
    @Address NVARCHAR(255) = NULL,
    @BirthDate DATE = NULL,
    @Gender NVARCHAR(10) = NULL,
    @CivilStatus NVARCHAR(50) = NULL,
    @Occupation NVARCHAR(100) = NULL
AS
BEGIN
    UPDATE Clients
    SET PhoneNumber = ISNULL(@PhoneNumber, PhoneNumber),
        Address = ISNULL(@Address, Address),
        BirthDate = ISNULL(@BirthDate, BirthDate),
        Gender = ISNULL(@Gender, Gender),
        CivilStatus = ISNULL(@CivilStatus, CivilStatus),
        Occupation = ISNULL(@Occupation, Occupation),
        UpdatedAt = GETDATE()
    WHERE ClientID = @ClientID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStaffRole]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update staff role (with audit logging)
CREATE PROCEDURE [dbo].[sp_UpdateStaffRole]
    @StaffID INT,
    @NewRole NVARCHAR(100),
    @UpdatedByStaffID INT,
    @Notes NVARCHAR(MAX) = NULL
AS
BEGIN
    BEGIN TRY
        DECLARE @OldRole NVARCHAR(100);
        SELECT @OldRole = Role FROM Staff WHERE StaffID = @StaffID;
        
        UPDATE Staff
        SET Role = @NewRole, UpdatedAt = GETDATE()
        WHERE StaffID = @StaffID;
        
        -- Log audit
        EXEC sp_LogAuditEvent 
            @UserID = @UpdatedByStaffID,
            @UserType = 'Staff',
            @Action = 'Updated Staff Role',
            @TableName = 'Staff',
            @RecordID = @StaffID,
            @OldValues = @OldRole,
            @NewValues = @NewRole;
        
        SELECT 'Success' AS Result, 'Staff role updated successfully' AS Message;
    END TRY
    BEGIN CATCH
        SELECT 'Error' AS Result, ERROR_MESSAGE() AS Message;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateAdminLogin]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to validate admin login
CREATE PROCEDURE [dbo].[sp_ValidateAdminLogin]
    @Username NVARCHAR(100),
    @Password NVARCHAR(255)
AS
BEGIN
    SELECT AdminID, Username, FullName, IsActive
    FROM Admins
    WHERE Username = @Username AND Password = @Password AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateClientLogin]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 7. STORED PROCEDURES
-- =====================================================

-- Procedure to validate client login
CREATE PROCEDURE [dbo].[sp_ValidateClientLogin]
    @Email NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    SELECT ClientID, Email, FirstName, LastName, IsActive
    FROM Clients
    WHERE Email = @Email AND Password = @Password AND IsActive = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidateStaffLogin]    Script Date: 5/8/2026 12:16:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to validate staff login
CREATE PROCEDURE [dbo].[sp_ValidateStaffLogin]
    @Email NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    SELECT StaffID, Email, FirstName, LastName, Role, Position, IsActive
    FROM Staff
    WHERE Email = @Email AND Password = @Password AND IsActive = 1;
END;
GO
USE [master]
GO
